<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10505104995-6lme7akfb7m2ih2188lceo4c1mfkcbdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10505104995-6lme7akfb7m2ih2188lceo4c1mfkcbdq</string>
	<key>API_KEY</key>
	<string>AIzaSyDg1U2TxlFTvQNW0BTjqSZd25Xs4hn_KwA</string>
	<key>GCM_SENDER_ID</key>
	<string>10505104995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ma.design</string>
	<key>PROJECT_ID</key>
	<string>madesign-d4087</string>
	<key>STORAGE_BUCKET</key>
	<string>madesign-d4087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10505104995:ios:112f5ca763688c059bd256</string>
</dict>
</plist>